<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start active open">
                <a href="{{ path('dashboard', {'token': token}) }}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="index.html" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Oeuvres</span>
                        </a>
                    </li>
                    <li class="nav-item start active open">
                        <a href="dashboard_2.html" class="nav-link ">
                            <i class="icon-bulb"></i>
                            <span class="title">Galeries</span>
                            <span class="selected"></span>
                            <span class="badge badge-success">1</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="{{ path('transport_indexWork', {'token': token}) }}" class="nav-link ">
                            <i class="icon-graph"></i>
                            <span class="title">Catégorie Oeuvre</span>
                            <span class="badge badge-danger">5</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="dashboard_3.html" class="nav-link ">
                            <i class="icon-graph"></i>
                            <span class="title">Catégorie Galerie</span>
                            <span class="badge badge-danger">5</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="dashboard_3.html" class="nav-link ">
                            <i class="icon-graph"></i>
                            <span class="title">Utilisateur</span>
                            <span class="badge badge-danger">5</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="{{ path('transport_index', {'token': token}) }}" class="nav-link ">
                            <i class="icon-graph"></i>
                            <span class="title">Transporteur</span>
                            <span class="badge badge-danger">5</span>
                        </a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>
</div>