<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Explicitly disable rewriting for front controllers
    RewriteRule ^/web/app_dev.php - [L]
    #RewriteRule ^/web/app.php - [L]

    # Fix the bundles
    RewriteRule ^back_office/(.*)$ /web/back_office/$1  [QSA,L]
    RewriteRule ^front_office/(.*)$ /web/front_office/$1  [QSA,L]

    # Change below before deploying to production
    #RewriteRule ^(.*)$ /web/app.php [QSA,L]
    RewriteRule ^(.*)$ /web/app_dev.php [QSA,L]
</IfModule>